.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  padding-top: 50px;
}
